# SPDX-FileCopyrightText: FLEXIMOD Developers
#
# SPDX-License-Identifier: AGPL-3.0-or-later

.venv/
__pycache__/
*.pyc
.env
.pytest_cache/
.mypy_cache/
build/
dist/
*.egg-info/

data/input/aFRR_data/
data/output/
data/processed/
*.xlsx
*.parquet
*.zip
*.7z
